html, body { 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
} 
 
.header { 
    width: 100%; 
    height: 80px; 
    background-color: #8f0202; 
    float: left;
} 
 
    .header img { 
        height: 60px; 
        margin-left: 15px; 
    } 
 
.sidePanel { 
    padding: 10px; 
    width: 300px; 
    height: calc(100% - 100px); 
    vertical-align: top; 
    float: left;
} 
 
#searchBox { 
    width: 180px; 
} 
 
.searchBar { 
    height: 50px; 
} 
 
.resultsPanel { 
    width: 280px; 
    overflow-y: auto; 
    overflow-x: hidden; 
} 
 
#myMap { 
    position: relative; 
    width: calc(100% - 320px); 
    height: calc(100% - 80px); 
    float: left;
} 
 
.errorMsg { 
    color: red; 
} 
 
.listItem { 
    font-size: 12px; 
    font-family: Arial,Helvetica; 
    width: 260px; 
    margin: 5px 0; 
} 
 
    .listItem td { 
        vertical-align: top; 
    } 
 
    .listItem span { 
        font-size: 14px; 
    } 
 
.title, .title:link, .title:visited, .title:active { 
    font-size: 14px; 
    color: #8f0202; 
} 
 
    .title:hover { 
        color: red; 
    } 
 
.infobox-info { 
    color: #000 !important; 
    font-size: 12px !important; 
    padding-top: 0px !important; 
}